<h2 class="ui center aligned icon header">
  <i class="circular inverted orange fire icon"></i>
  Motive
</h2>

<div class="ui two column grid">
    <div class="four wide column">
        <div class="ui fluid raised card chatbox">
            <div class="content">
                <div class="center aligned header">
                    Friend's Online
                </div>
                <div class="center aligned description">
                    <div class="ui inverted vertical center aligned menu">
                        <a class="item active">
                            Home
                        </a>
                        <a class="item">
                            Messages
                        </a>
                        <a class="item">
                            Friends
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="twelve wide column">
        <div class="ui fluid card chatbox">
            <div class="content">
                <div class="ui feed">
                    <%= render  @messages %>
                </div>
            </div>
            <div class="extra content">
                <form class="ui reply form">
                    <div class="field">
                    <div class="ui fluid action input">
                        <input type="text" placeholder="What's the motive?">
                        <div class="ui orange labeled submit icon button">
                            Send <i class="arrow right icon edit"></i>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
